.footer
  background-color: #fff
  height: 100px
  position: absolute
  bottom: 0
  left: 0
  right: 0

  .container
    height: 100%
    padding: 0 55px
    display: flex
    align-items: center
    justify-content: flex-end


.footer-text
  font-size: 25px
  color: #000
  font-weight: bold

