.footer
  background-color: #fff
  height: 70px
  position: absolute
  bottom: 0
  left: 0
  right: 0
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5)

  .container
    height: 100%
    max-width: 100%
    padding: 0 25px
    display: flex
    align-items: center
    justify-content: flex-end


.footer-text
  font-size: 18px
  color: #6B6D6F
  font-weight: bold

