.header
  position: fixed
  left: 0
  top: 0
  right: 0
  z-index: 1
  background: #fff


.header-contacts
  height: 35px
  background-color: #82b541

  @media(max-width: 660px)
    height: 25px

  @media(max-width: 420px)
    height: 20px

  .container
    display: flex
    justify-content: flex-start
    align-items: center
    height: 100%


.header-navigation
  font-size: 0
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)
  height: 63px
  padding-top: 5px
  padding-bottom: 5px

  @media(max-width: 660px)
    height: 50px

  @media(max-width: 420px)
    height: 40px

  .container
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    padding: 0 20px



.header-phone,
.header-email
  font-family: 'Montserrat-Light'
  display: block
  padding-left: 20px
  font-size: 16px
  color: #fff
  position: relative

  @media(max-width: 660px)
    font-size: 14px
    padding-left: 18px

  @media(max-width: 420px)
    font-size: 12px
    padding-left: 15px

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 20px
    height: 20px

    @media(max-width: 660px)
      font-size: 14px
      width: 18px
      height: 18px

    @media(max-width: 420px)
      font-size: 12px
      width: 15px
      height: 15px
      background-size: 75% !important


.header-phone
  margin-left: 20px

  &:before
    background: url('../assets/images/phone.png') no-repeat center
    background-size: 80%


.header-email
  margin-left: 30px

  @media(max-width: 660px)
    margin-left: 20px

  @media(max-width: 420px)
    margin-left: 10px

  &:before
    background: url('../assets/images/email.png') no-repeat center
    background-size: 80%


.logo
  height: 100%

  img
    height: 100%
    width: auto


.header-menu
  font-size: 0


.header-menu_link
  display: inline-block
  font-size: 24px
  text-decoration: none
  color: #000
  margin: 0 20px
  transition: color 0.2s ease-in

  @media(max-width: 660px)
    margin: 0 12px
    font-size: 20px

  @media(max-width: 420px)
    margin: 0 6px
    font-size: 15px

  &:last-child
    margin-right: 0

  &.active,
  &:hover,
  &:active,
  &:focus,
  &.router-link-active
    outline: none
    color: #17a428
