.home-carousel
  font-size: 0
  background-color: #051924

  .container
    padding: 0 20px

.home-image
  height: 300px
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom

  @media(max-width: 960px)
    height: 250px

  @media(max-width: 660px)
    height: 170px

.home-catalog
  background-color: #fff

  .container
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    padding: 20px 0

    @media(max-width: 1200px)
      padding: 10px
      max-width: 1040px

    @media(max-width: 960px)
      max-width: 700px

.home-category
  display: flex
  width: 200px
  flex-direction: column
  align-items: center
  justify-content: space-between
  margin: 20px
  text-decoration: none
  position: relative
  background-color: #7ead43
  background-image: url('../assets/images/background.png')
  border: 2px solid #7ead43
  box-sizing: border-box
  max-width: 320px

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: background-color 0.2s ease-in


  &:hover:before
    background-color: rgba(0, 0, 0, 0.2)

  @media(max-width: 1200px)
    width: calc(100%/4 - 20px)
    margin: 10px

  @media(max-width: 960px)
    width: calc(100%/3 - 20px)

  @media(max-width: 660px)
    width: calc(100%/2 - 20px)



.home-category_image
  width: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: contain

  &:before
    content: ''
    display: block
    margin-bottom: calc(100% * 4/5)

  .home-category-1 &
    background-image: url(../assets/images/home-category-1.jpg)

  .home-category-2 &
    background-image: url(../assets/images/home-category-2.jpg)

  .home-category-3 &
    background-image: url(../assets/images/home-category-3.jpg)

  .home-category-4 &
    background-image: url(../assets/images/home-category-4.jpg)

  .home-category-5 &
    background-image: url(../assets/images/home-category-5.jpg)


.home-category_title
  margin: 20px 0
  font-size: 25px
  color: #000
  font-weight: bold

  @media(max-width: 420px)
    font-size: 20px


.home-contacts
  background-color: #7ead43
  background-image: url('../assets/images/background.png')

  .container
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding: 40px 20px

    @media(max-width: 960px)
      flex-direction: column

    @media(max-width: 660px)
      padding: 30px 20px

    @media(max-width: 420px)
      padding: 20px 20px

    > div
      flex-basis: 50%

      @media(max-width: 960px)
        flex-basis: 100%
