.home-carousel
  font-size: 0
  background-color: #051924

  .container
    padding: 0 20px

.home-image
  height: 300px
  width: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom


.home-catalog
  background-color: #fff

  .container
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap


.home-category
  display: flex
  width: 200px
  flex-direction: column
  align-items: center
  justify-content: space-between
  margin: 30px 20px
  text-decoration: none
  position: relative
  background-color: #7ead43
  background-image: url('../assets/images/background.png')
  border: 2px solid #7ead43
  box-sizing: border-box

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: background-color 0.2s ease-in


  &:hover:before
    background-color: rgba(0, 0, 0, 0.2)


.home-category_image
  max-width: 100%
  max-height: 192px
  height: auto


.home-category_title
  margin: 20px 0
  font-size: 25px
  color: #000
  font-weight: bold


.home-contacts
  background-color: #7ead43
  background-image: url('../assets/images/background.png')

  .container
    display: flex
    align-items: flex-start
    justify-content: space-between
    padding: 40px 55px

    > div
      flex-basis: 50%
