.services-page
  background-color: #fff
  overflow: hidden

  .container
    padding: 0 20px


.services
  display: flex
  align-items: normal
  justify-content: center

  @media(max-width: 960px)
    flex-direction: column
    margin-top: 20px

.services_image-block
  width: 33%
  font-size: 0px
  box-sizing: border-box
  position: relative

  @media(max-width: 960px)
    width: 40%
    order: 0
    margin: 0 auto

  @media(max-width: 660px)
    width: 70%

  @media(max-width: 420px)
    width: 80%


.services_image
  width: 100%
  height: auto
  margin: 30px 0

  @media(max-width: 960px)
    margin: 0


.services_content-block
  width: 67%
  box-sizing: border-box
  position: relative
  padding-bottom: 160px

  @media(max-width: 960px)
    width: 100%
    order: 1
    padding-bottom: 60px


.services_title
  font-size: 40px
  margin: 0


.services_description
  font-size: 20px
  margin: 20px 0
  color: #565656

.services_order
  display: block
  padding: 0 50px
  border: 2px solid #146c10
  font-size: 30px
  line-height: 70px
  color: #82b541
  box-sizing: border-box
  text-align: center
  background-color: transparent
  cursor: pointer
  position: absolute
  bottom: 60px
  left: 0
  transition: background-color 0.2s ease-in

  &:hover
    background-color: rgba(0, 0, 0, 0.1)


  @media(max-width: 960px)
    position: static
    margin-top: 30px

  @media(max-width: 660px)
    font-size: 25px
    line-height: 50px
    margin-top: 25px
    padding: 0 40px

  @media(max-width: 420px)
    font-size: 20px
    line-height: 40px
    margin-top: 20px
    padding: 0 30px


.services-none
  font-size: 30px
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  height: 200px


.gallery
  width: 100%


.gallery-title
  font-size: 40px
  margin: 0


.gallery-list
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  padding: 10px 0
  margin-left: -20px
  margin-right: -20px

  @media(max-width: 1200px)
    padding: 10px
    max-width: 1040px

  @media(max-width: 960px)
    max-width: 700px


.gallery-item
  width: 260px
  margin: 20px
  position: relative
  box-sizing: border-box
  max-width: 320px
  background-repeat: no-repeat
  background-position: center
  background-size: contain
  border: 2px solid #7ead43

  &:hover
    cursor: pointer

  &:after
    content: ''
    display: block
    margin-bottom: 100%

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: background-color 0.2s ease-in

  &:hover:before
    background-color: rgba(0, 0, 0, 0.2)

  @media(max-width: 1200px)
    width: calc(100%/3 - 20px)
    margin: 10px

  @media(max-width: 960px)
    width: calc(100%/2 - 20px)

  @media(max-width: 660px)
    padding: 10px


.gallery-overlay
  img
    max-width: 100%

.gallery-overlay
  max-height: 100%

  .sweet-modal
    max-height: 90%
    max-width: 60%

    @media(max-width: 768px)
      max-width: 80%

    @media(max-width: 420px)
      max-height: 100%
      max-width: 100%

    .sweet-box-actions
      .sweet-action-close
        transition: background-color 0.2s ease-in, color 0.2s ease-in

        &:hover
          background-color: #82b541
