.services-page
  background-color: #fff
  overflow: hidden

  .container
    padding: 0 20px


.services
  display: flex
  align-items: normal
  justify-content: center

  @media(max-width: 960px)
    flex-direction: column
    margin-top: 20px

.services_image-block
  width: 33%
  font-size: 0px
  box-sizing: border-box
  position: relative

  @media(max-width: 960px)
    width: 40%
    order: 0
    margin: 0 auto

  @media(max-width: 660px)
    width: 70%

  @media(max-width: 420px)
    width: 80%



.services_image
  width: 100%
  height: auto
  margin: 30px 0


.services_content-block
  width: 67%
  box-sizing: border-box
  position: relative
  padding-bottom: 160px

  @media(max-width: 960px)
    width: 100%
    order: 1


.services_title
  font-size: 100px
  margin-top: 0
  margin-bottom: 0


.services_description
  font-size: 40px
  font-weight: bold
  color: #565656
  margin: 0


.services_order
  display: block
  padding: 0 50px
  border: 2px solid #146c10
  font-size: 30px
  line-height: 70px
  color: #82b541
  box-sizing: border-box
  text-align: center
  background-color: transparent
  cursor: pointer
  position: absolute
  bottom: 60px
  left: 0
  transition: background-color 0.2s ease-in

  &:hover
    background-color: rgba(0, 0, 0, 0.1);


.services-none
  font-size: 30px
  margin: 0
  display: flex
  justify-content: center
  align-items: center
  height: 200px
