.contacts_block
  padding-left: 15px


.contacts_title
  font-size: 42px
  font-weight: bold
  margin: 0 0 5px

.contacts_company,
.contacts_unp,
.contacts_phone,
.contacts_email,
.contacts_address,
.contacts_working-time
  font-size: 25px
  color: #000
  margin: 0
  line-height: 38px
  font-weight: bold
