@font-face
  font-family: 'Calibri'
  src: url('./assets/fonts/Calibri.eot')
  src: url('./assets/fonts/Calibri.woff2') format('woff2'), url('./assets/fonts/Calibri.woff') format('woff'), url('./assets/fonts/Calibri.ttf') format('truetype'), url('./assets/fonts/Calibri.svg#Calibri') format('svg'), url('./assets/fonts/Calibri.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Montserrat-Light'
  src: url('./assets/fonts/Montserrat-Light.eot')
  src: url('./assets/fonts/Montserrat-Light.woff2') format('woff2'), url('./assets/fonts/Montserrat-Light.woff') format('woff'), url('./assets/fonts/Montserrat-Light.ttf') format('truetype'), url('./assets/fonts/Montserrat-Light.svg#Calibri') format('svg'), url('./assets/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal


//#app
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


html, body
  min-height: 100%
  height: 100%
  margin: 0
  padding: 0
  background-color: #fff
  font-family: 'Calibri'


#app
  min-height: 100%
  position: relative
  overflow: hidden
  background-size: contain
  padding-top: 150px
  padding-bottom: 100px
  box-sizing: border-box


.container
  max-width: 1200px
  margin: 0 auto
  box-sizing: border-box


// transition name='fade'
.fade-leave-active
  transition: ease-out opacity 0.25s

.fade-enter-active
  transition: ease-in opacity 0.5s

.fade-enter, .fade-leave-to
  opacity: 0
  will-change: opacity
